In [1]:
import numpy as np
import pandas as pd
import pickle

from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing

In [2]:
dataframe = pd.read_csv("merged_data.csv")

C:\Users\kanka\AppData\Local\Temp\ipykernel_26496\1693269746.py:1: DtypeWarning: Columns (14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv("merged_data.csv")

In [3]:
dataframe.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_id       object
 2   dept_id       object
 3   cat_id        object
 4   store_id      object
 5   state_id      object
 6   d             object
 7   sales         int64
 8   date          object
 9   wm_yr_wk      int64
 10  weekday       object
 11  wday          int64
 12  month         int64
 13  year          int64
 14  event_name_1  object
 15  event_type_1  object
 16  event_name_2  object
 17  event_type_2  object
 18  snap_CA       int64
 19  snap_TX       int64
 20  snap_WI       int64
 21  sell_price    float64
dtypes: float64(1), int64(8), object(13)
memory usage: 43.7 GB

In [4]:
print(dataframe['sales'].max())
print(dataframe['wm_yr_wk'].max())
print(dataframe['wday'].max())
print(dataframe['month'].max())
print(dataframe['year'].max())
print(dataframe['snap_CA'].max())
print(dataframe['snap_TX'].max())
print(dataframe['snap_WI'].max())
print(dataframe['sell_price'].max())

763
11613
7
12
2016
1
1
1
107.32

In [6]:
dataframe['year'] = dataframe['year'] - 2000
print(dataframe['year'].max())

-1984

In [7]:
dataframe['sales'] = dataframe['sales'].astype('int16')
dataframe['wm_yr_wk'] = dataframe['wm_yr_wk'].astype('int16')
dataframe['wday'] = dataframe['wday'].astype('int8')
dataframe['month'] = dataframe['month'].astype('int8')
dataframe['year'] = dataframe['year'].astype('int8')
dataframe['snap_CA'] = dataframe['snap_CA'].astype('int8')
dataframe['snap_TX'] = dataframe['snap_TX'].astype('int8')
dataframe['snap_WI'] = dataframe['snap_WI'].astype('int8')

In [8]:
dataframe.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   item_id       object
 2   dept_id       object
 3   cat_id        object
 4   store_id      object
 5   state_id      object
 6   d             object
 7   sales         int16
 8   date          object
 9   wm_yr_wk      int16
 10  weekday       object
 11  wday          int8
 12  month         int8
 13  year          int8
 14  event_name_1  object
 15  event_type_1  object
 16  event_name_2  object
 17  event_type_2  object
 18  snap_CA       int8
 19  snap_TX       int8
 20  snap_WI       int8
 21  sell_price    float64
dtypes: float64(1), int16(2), int8(6), object(13)
memory usage: 40.8 GB

In [9]:
dataframe['snap_CA'] = dataframe['snap_CA'].astype('category')
dataframe['snap_TX'] = dataframe['snap_TX'].astype('category')
dataframe['snap_WI'] = dataframe['snap_WI'].astype('category')
dataframe['event_name_1'] = dataframe['event_name_1'].astype('category')
dataframe['event_type_1'] = dataframe['event_type_1'].astype('category')
dataframe['event_name_2'] = dataframe['event_name_2'].astype('category')
dataframe['event_type_2'] = dataframe['event_type_2'].astype('category')
dataframe['id'] = dataframe['id'].astype('category')
dataframe['item_id'] = dataframe['id'].astype('category')
dataframe['dept_id'] = dataframe['id'].astype('category')
dataframe['cat_id'] = dataframe['id'].astype('category')
dataframe['store_id'] = dataframe['id'].astype('category')
dataframe['state_id'] = dataframe['id'].astype('category')
dataframe['weekday'] = dataframe['weekday'].astype('category')
dataframe['d'] = dataframe['d'].str[2:]
dataframe['d'] = dataframe['d'].astype('int16')
dataframe['date'] = pd.to_datetime(dataframe['date'])
dataframe['sell_price'] = dataframe['sell_price'].astype('float16')

In [10]:
dataframe.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58327370 entries, 0 to 58327369
Data columns (total 22 columns):
 #   Column        Dtype
---  ------        -----
 0   id            category
 1   item_id       category
 2   dept_id       category
 3   cat_id        category
 4   store_id      category
 5   state_id      category
 6   d             int16
 7   sales         int16
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       category
 11  wday          int8
 12  month         int8
 13  year          int8
 14  event_name_1  category
 15  event_type_1  category
 16  event_name_2  category
 17  event_type_2  category
 18  snap_CA       category
 19  snap_TX       category
 20  snap_WI       category
 21  sell_price    float16
dtypes: category(14), datetime64[ns](1), float16(1), int16(3), int8(3)
memory usage: 2.1 GB

In [11]:
dataframe.to_pickle('reduced.pickle')